<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RestAreaInfo</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id='restAreaInfoData'>
        <!-- 휴게소 정보 출력 -->
    </div>
    <button id='btnMenu'>주문하기</button>
  </body>
</html>


<!-- 휴게소 선택 후, 휴게소 정보 버튼 클릭시 -->
<script>
    const qs = getQueryStringObject();
    let areaCode = qs.area_code;
    let areaName;

    // 휴게소 정보 읽어오기 ajax
    $.ajax({
        url: '/requestRestAreaInfo',
        type: 'POST',
        data: {
            area_code: areaCode, // 여기로 휴게소 코드 넘겨 주어야 합니다
        },
        success: function(data) {
            const results = JSON.parse(data);
            areaName = results[0].area_nm;
            drawInfoPage(results[0]);
        }
    });
    
    // 주문버튼 눌렀을때 휴게소 이름 넘겨주기
    $('#btnMenu').click( function() {
        window.location.href = '/menu?area_nm=' + areaName;
    });

    // qs로 보내준 데이터를(? 이후 데이터) key : value 방식으로 자바스크립트obj 로 풀어주는 함수
    function getQueryStringObject() {
        var a = window.location.search.substr(1).split('&');
        if (a == "") return {};
            var b = {};
        for (var i = 0; i < a.length; ++i) {
            var p = a[i].split('=', 2);
            if (p.length == 1) {
                b[p[0]] = "";
            } else {
                b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
            }
        }
        return b;
    }

    // 받아온 데이터로 휴게소 정보 그리기
    function drawInfoPage(results) {
        const div = document.getElementById('restAreaInfoData');
        const h1 = document.createElement('h1');
        for(key in results) {
            const p = document.createElement('p');
            if(key == 'area_nm') {
                h1.innerHTML = key + ': ' + results[key];
                div.appendChild(h1);
            } else {
                p.innerHTML = key + ': ' +results[key];
                div.appendChild(p);
            }
        }
    }
</script>