<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<script src="https://cdn.bootpay.co.kr/js/bootpay-3.2.6.min.js" type="application/javascript"></script>

<body>
<!-- 주문 내역 -->
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-xs-6">
                    <h3>주문내역</h3>
                </div>
                <div class="col-xs-6">
                    <form class="navbar-form navbar-right" action="home.html">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="search" />
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">2020-08-22</div>
                            <div class="panel-body">
                                <h4>건천(부산) 휴게소</h4>
                                <h4><small><span>김치라면</span> 외 <span>1</span>개 <span>15000</span>원</small></h4>
                                <br>
                                <button class="btn btn-info" id="orderDetail">주문상세</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
function openWin() {
  window.open("./orderDetail","_blank","toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=400, height=400");
}
$('#orderDetail').click(openWin)
</script>