<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<script src="https://cdn.bootpay.co.kr/js/bootpay-3.2.6.min.js" type="application/javascript"></script>

<body>
<!-- 주문 내역 -->
<div class="tab-pane" id="orderHistory">
    <div class="container">
        <div class="page-header">
            <h3>주문내역</h3>
        </div>
        <div class="well">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">2020-08-22</div>
                            <div class="panel-body">
                                <h4>건천(부산) 휴게소</h4>
                                <h4><small><span>김치라면</span> 외 <span>1</span>개 <span>15000</span>원</small></h4>
                                <br>
                                <!-- Trigger the modal with a button -->
                                <button class="btn btn-info" data-toggle="modal" data-target="#orderNumber">주문번호</button>
                                <button class="btn btn-info" data-toggle="modal" data-target="#orderDetail">주문상세</button>
                                <!-- Modal -->
                                <div class="modal fade" id="orderNumber" role="dialog">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                        <div class="modal-header"" >
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">주문번호</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>고객님의 주문번호는 <strong>000061</strong>입니다.</p>
                                            <p>예상 조리완성 시간은<strong>오후 06:00</strong>입니다.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="orderDetail" role="dialog">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">주문상세보기</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <th>주문내역</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                          <td>김치라면</td>
                                                          <td>1개</td>
                                                          <td>4000원</td>
                                                        </tr>
                                                        <tr>
                                                          <td>치즈라면</td>
                                                          <td>1개</td>
                                                          <td>4000원</td>
                                                        </tr>
                                                        <tr>
                                                          <td>해물라면</td>
                                                          <td>1개</td>
                                                          <td>4000원</td>
                                                        </tr>
                                                      </tbody>
                                                </table>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <h5><strong>주문 일시</strong></h5> 
                                                    <h5><strong>결제 금액</strong></h5> 
                                                </div>
                                                <div class="col-xs-4">
                                                    <h5><small><span>2020-08-22</span></small></h5>
                                                    <h5><small><span>12000</span>원</small></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">2020-08-22</div>
                            <div class="panel-body">
                                <h4>건천(부산) 휴게소</h4>
                                <h4><small><span>김치라면</span> 외 <span>1</span>개 <span>15000</span>원</small></h4>
                                <br>
                                <button class="btn btn-info">주문번호</button>
                                <button class="btn btn-info">주문상세</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">2020-08-22</div>
                            <div class="panel-body">
                                <h4>건천(부산) 휴게소</h4>
                                <h4><small><span>김치라면</span> 외 <span>1</span>개 <span>15000</span>원</small></h4>
                                <br>
                                <button class="btn btn-info">주문번호</button>
                                <button class="btn btn-info">주문상세</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>