<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>

<body id="reportsPage">
    <div class="" id="home">
        <!-- 상단(타이틀,네비게이터) -->
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="/">
                    <h1 class="tm-site-title mb-0">Product Admin</h1>
                </a>

                <!-- <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-alt"></i>
                                <span>
                                    Reports <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Daily Report</a>
                                <a class="dropdown-item" href="#">Weekly Report</a>
                                <a class="dropdown-item" href="#">Yearly Report</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="products.html">
                                <i class="fas fa-shopping-cart"></i>
                                Products
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="accounts.html">
                                <i class="far fa-user"></i>
                                Accounts
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span>
                                    Settings <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Billing</a>
                                <a class="dropdown-item" href="#">Customize</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="login.html">
                                Admin, <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>

        </nav>

        <!-- 중단(내용) -->
        <div class="container">
            <!-- 행(row) 시작 -->
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
                </div>
            </div>

            <!-- 행 내용(row content) 시작 -->
            <div class="col-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                    <h2 class="tm-block-title">Orders List</h2>
                    <select class='tm-block-col' id='areaCodeList'>
                        <option value='all' selected='selected'>전체</option>
                    </select>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">RESTAREA CODE</th>
                                <th scope="col">RESTAREA NAME</th>
                                <th scope="col">ROAD TYPE</th>
                                <th scope="col">ROAD NO</th>
                                <th scope="col">ROAD NAME</th>
                                <th scope="col">ROAD WAY</th>
                                <th scope="col">LATITUDE</th>
                                <th scope="col">LONGITUDE</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>

            <!-- ajax 테스트  -->
            <div class="colTest">
                <select class='selectTest' id='areaCodeList1'></select>
                <button class="btnTest" id='btnRestAreaInfo'>휴게소 정보 넘겨받기 TEST</button>
                <textarea class='textTest' id='RestAreaInfoTextArea'></textarea>
            </div>

            <div class="colTest">
                <button class="btnTest" id='btnOrderInfo'>주문내역 넘겨서 DB넣기 TEST</button>
                <textarea class='textTest' id='OrderInfoTextArea'></textarea>
            </div>

            <div class="colTest">
                <button class="btnTest" id='btnRestAreaLatLongInfo'>휴게소 위치정보 넘겨받기 TEST</button>
                <textarea class='textTest' id='RestAreaLatLongTextArea'></textarea>
            </div>

            <div class="colTest">
                <button class="btnTest" id='btnMenuApi'>메뉴 API TEST</button>
                <textarea class='textTest' id='MenuApiTextArea'></textarea>
            </div>
            <!-- 차트  -->
            <!-- <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title"></h2>
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
                
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title"></h2>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller">
                        <h2 class="tm-block-title"></h2>
                        <div id="pieChartContainer">
                            <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- 하단 -->
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2018</b> All rights reserved.

                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template
                        Mo</a>
                </p>
            </div>
        </footer>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="js/tooplate-scripts.js"></script>

    <!-- [운영자] - 차트 그리기  -->
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart,
            barChart,
            pieChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
                updateBarChart();
            });
        })
    </script>
    
    <!-- 메뉴API 테스트 (cors 문제로 여기서는 안된다 / 서버에서는 가능) -->
    <script>
        $('#btnMenuApi').click(function(){
        $.ajax({
            url: 'http://data.ex.co.kr/openapi/restinfo/restBestfoodList',
            type: 'POST',
            data: {
                key: '7027848923',
                type: 'json',
            },
            success: function(data) {
                console.log(data);
                $('#MenuApiTextArea').val('data');
            }
        })
    });
    </script>


    <!-- [사용자] - 결제 완료시 주문 내용 데이터 넘기면 - 주문완료/실패 결과 반환해주기 -->
    <script>
        $('#btnOrderInfo').click(function(){
            $.ajax({
                url: '/insertDBOrderList',
                type: 'POST',
                data: {
                    // 주문번호는 서버에서 만들것
                    // 음식코드, 휴게소코드, 메뉴분류코드 넘겨주면 됨
                    orderer_pn : '010-3101-8031' // 주문자 핸드폰 번호 값 넘기면 됨
                },
                success: function(data) {
                    console.log(data);
                    if(data === 'err') {
                        $('#OrderInfoTextArea').val('[주문 실패]');
                    } else {
                        $('#OrderInfoTextArea').val(`[주문 완료] 주문번호: ${data}`);
                    }
                }
            })
        });
    </script>

    <!-- [사용자] - 원하는 휴게소 선택 했을 때, 그 휴게소 정보 넘겨주기 -->
    <script>
        $('#btnRestAreaInfo').click(function() {
            var restarea_code = $('#areaCodeList1 option:selected').val();
            console.log('휴게소 정보 넘겨받기 click', restarea_code);

            $.ajax({
                url: '/restAreaInfo',
                type: 'POST',
                data: {
                    restarea_code : restarea_code,
                },
                success: function (data) {
                    const result = JSON.parse(data);
                    console.log(result);
                    console.log(data);
                    
                    $('#RestAreaInfoTextArea').val(data);
                    // console.log(result);
                },
            });
        });
    </script>

    <!-- [사용자] - 휴게소(코드, 이름, 위도, 경도) 받기 -->
    <script>
        $('#btnRestAreaLatLongInfo').click(function() {
            $.ajax({
                url: '/requestRestAreaLatLong',
                type: 'POST',
                success: function(data) {
                    const result = JSON.parse(data);
                    $('#RestAreaLatLongTextArea').val(data);
                }
            });
        });
    </script>

    <!-- [운영자] - 휴게소 종류 셀렉트박스 값 -->
    <script>
        $.ajax({
            url: 'restAreaList',
            type: 'POST',
            success: function (data) {
                const result = JSON.parse(data);
                addSelectOption(result);
            }
        })

        // 셀렉트박스 리스트 아이템 붙이기
        function addSelectOption(data) {
            const selectItem = document.getElementById('areaCodeList');
            const selectItem1 = document.getElementById('areaCodeList1');
            for(var i=0; i < data.length; i++) {
                console.log(data[i]);
                var optionItem = document.createElement('option');
                optionItem.innerHTML = data[i].area_nm;
                optionItem.value = data[i].area_code;
                selectItem.appendChild(optionItem);
            }

            for(var i=0; i < data.length; i++) {
                console.log(data[i]);
                var optionItem = document.createElement('option');
                optionItem.innerHTML = data[i].area_nm;
                optionItem.value = data[i].area_code;
                selectItem1.appendChild(optionItem);
            }
        }
    </script>

    <!-- [운영자] - 휴게소에 들어온 주문내역 DB에 접근해서 Table 형태로 그리기 -->
    <script>
        window.onload = ajaxFunc('all');

        $('#areaCodeList').change(function() {
            var restarea_code = $('#areaCodeList option:selected').val();
            console.log(restarea_code);

            clearTable();
            ajaxFunc(restarea_code);
        })

        // ajax 통신 부분
        function ajaxFunc(restarea_code) {
            $.ajax({
                url: '/orderList',
                type: 'POST',
                data: {
                    restarea_code : restarea_code
                },
                success: function (data) {
                    console.log('draw table start!');
                    const jsonData = JSON.parse(data);
                    drawTable(jsonData);
                }
            })
        }

        // 이부분은 나중에 주문내역 보이도록 현재는 휴게소 정보로 나오도록 일단 해둠 (수정할 것)
        function drawTable(data) {
            const oldChild = document.querySelector('tbody');
            console.log(oldChild);
            for (var i = 0; i < data.length; i++) {
                console.log(data[i]);
                var tr = document.createElement('tr');
                var td0 = document.createElement('td');
                var td1 = document.createElement('td');
                var td2 = document.createElement('td');
                var td3 = document.createElement('td');
                var td4 = document.createElement('td');
                var td5 = document.createElement('td');
                var td6 = document.createElement('td');
                var td7 = document.createElement('td');

                td0.innerHTML = data[i].area_code;
                td1.innerHTML = data[i].area_nm;
                td2.innerHTML = data[i].road_type;
                td3.innerHTML = data[i].road_no;
                td4.innerHTML = data[i].road_nm;
                td5.innerHTML = data[i].road_way;
                td6.innerHTML = data[i].latitude;
                td7.innerHTML = data[i].longitude;

                tr.appendChild(td0);
                tr.appendChild(td1);
                tr.appendChild(td2);
                tr.appendChild(td3);
                tr.appendChild(td4);
                tr.appendChild(td5);
                tr.appendChild(td6);
                tr.appendChild(td7);

                oldChild.appendChild(tr);
            }
        }

        // 조회조건이 변경되면 테이블 밀어야함
        function clearTable() {
            const oldChild = document.querySelector('tbody');
            // 기존 테이블 내용 삭제
            while ( oldChild.hasChildNodes() ) { 
                oldChild.removeChild( oldChild.firstChild );
            }
        }
    </script>

</body>

</html>