<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <style>
    body {
      position: relative;
    }

    ul.nav-pills {
      margin-top: 130px;
      position: fixed;
    }
  </style>

  <title>Menu</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body data-spy="scroll" data-offset="1" data-target="#verticalScrollspy">
  <div class="container-fluid">
    <div class="row">
      <nav class="col-3 col-sm-2" id="verticalScrollspy">
        <ul class="nav flex-column nav-pills">
          <li class="nav-item"><a class="nav-link active" href="#item1">전체메뉴</a></li>
          <li class="nav-item"><a class="nav-link" href="#item2">item2</a></li>
          <li class="nav-item"><a class="nav-link" href="#item3">item3</a></li>
          <li class="nav-item"><a class="nav-link" href="#item4">item4</a></li>
          <li class="nav-item"><a class="nav-link" href="#item5">item5</a></li>
          <li class="nav-item"><a class="nav-link" href="#item6">itme6</a></li>
        </ul>
      </nav>
      <div class="col-9 col-sm-10">
        <h2 id="item1" style="padding-left: 20px">전체메뉴</h2> <br>
        <div id="display" class="container-fluid">
          <!--메뉴리스트 출력-->
        </div>
        <div class="container-fluid">
          <h1 id="item2"></h1>
        </div>
        <div class="container-fluid">
          <h1 id="item3"></h1>
        </div>
        <div class="container-fluid">
          <h1 id="item4"></h1>
        </div>
        <div class="container-fluid">
          <h1 id="item5"></h1>
        </div>
        <div class="container-fluid">
          <h1 id="item6"></h1>
        </div>
      </div>
    </div>
  </div>

  <!-- 메뉴 리스트 읽어오기 -->
  <script>

    const qs = getQueryStringObject();
    const areaName = qs.area_nm;

    // 서버에서 메뉴 정보 가져오기
    $.ajax({
      url: '/requestMenuInfo',
      type: 'POST',
      data: {
        area_nm: areaName,
      },
      success: function (data) {
        resultMenuList(data);
        console.log(data, data.length);
        //drawMenuList(data);
      }
    });


    //API 가져와서 카드에 메뉴넣는 함수
    function resultMenuList(data) {
      var html = "";
      var arr = [];
      $.each(data, function (key, value) {
        arr.push([key, value.stdRestNm, value.foodNm, value.foodCost]);
        html += "<div class='card w-75'>";
        html += "<div class='card-body'>";
        html += "<h5 class='card-title' id=name>" + value.foodNm;
        if (value.bestfoodyn == 'Y') {
          html += "<span class='badge badge-pill badge-danger' style='font-size:10px;'>BEST</span>";
        }
        html += "</h5>";
        html += "<p class='card-text' id=cost> " + value.foodCost + "원</p>";
        html += "<div class='container'>";
        html += "<div class='row'>";
        html += `<div class="col-xs-6" id="hi">
                  <input type=button value="-" onclick='minusBtn(this)'>
                  <input type=text value=1>
                  <input type=button value="+" onclick='plusBtn(this)'>
              </div> `;
        html += "<button onclick='cartBtn(this)' href='#popup' data-toggle='modal' class='btn btn-primary'>장바구니</button>";
        html += `<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">장바구니</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="text-align: center">
                    <p>음식이 장바구니에 담겼습니다.</p>
                    <p>지금 확인하시겠습니까?</p>
                  </div>
                  <div class="modal-footer">
                    <button id="btnCart" onClick="location.href='/cart'" class="btn btn-primary">장바구니로 이동</button>
                    <button class="btn btn-secondary" data-dismiss="modal">돌아가기</button>
                  </div>
                </div> 
              </div>
            </div>`;
        html += "</div>";
        html += "</div>";
        html += "</div>";
        html += "</div> <br>";
      });
      $("#display").empty();
      $("#display").append(html);
    }

    //장바구니 버튼 누르면 로컬스토리지에 저장하는 함수
    var array = [];
    function cartBtn(btn) {
      const data = btn.parentNode.parentNode.parentNode;
      const count = btn.parentNode;

      item = [data.childNodes[0].innerText, data.childNodes[1].innerText, count.firstChild.childNodes[3].value];
      array.push(item);
      localStorage.setItem("cartItem", JSON.stringify(array));
    };

    //수량 감소 함수
    function minusBtn(btn) {
      const data = btn.parentNode;
      var num = parseInt(data.childNodes[3].value) - 1;
      if (num < 1) num = 1;
      data.childNodes[3].value = num;
    }

    //수량 증가 함수
    function plusBtn(btn) {
      const data = btn.parentNode;
      var num = parseInt(data.childNodes[3].value) + 1;
      if (num < 1) num = 1;
      data.childNodes[3].value = num;
    }

    // qs로 보내준 데이터를(? 이후 데이터) key : value 방식으로 자바스크립트obj 로 풀어주는 함수
    function getQueryStringObject() {
      var a = window.location.search.substr(1).split('&');
      if (a == "") return {};
      var b = {};
      for (var i = 0; i < a.length; ++i) {
        var p = a[i].split('=', 2);
        if (p.length == 1) {
          b[p[0]] = "";
        } else {
          b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
        }
      }
      return b;
    }

  </script>
</body>

</html>