 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Cart</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 </head>
 <body>
     <!-- 장바구니 -->
     <div class="tab-pane" id="cart">
         <div class="container">
             <div class="page-header">
                    <h3>장바구니</h3>
                </div>
                <div class="well">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <input type="checkbox" name="" id=""/>
                                <span>
                                    김치찌개
                                </span>
                            </div>
                            <div class="panel-body">
                                <div class="container" style="align-items: center;">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p>수량</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-default btn-sm">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                            <input type="text" style="width: 40px;">
                                            <button type="button" class="btn btn-default btn-sm">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                        <div class="col-sm-3">
                                            <p>4,000원</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <input type="checkbox" name="" id=""/>
                                <span>
                                    김치라면
                                </span>
                            </div>
                            <div class="panel-body">
                                <div class="container" style="align-items: center;">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p>수량</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <button type="button" class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                                <input type="text" style="width: 40px;">
                                                <button type="button" class="btn btn-default btn-sm">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <p>4,000원</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <input type="checkbox" name="" id=""/>
                                <span>
                                    치즈라면
                                </span>
                            </div>
                            <div class="panel-body">
                                <div class="container" style="align-items: center;">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p>수량</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-default btn-sm">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                            <input type="text" style="width: 40px;">
                                            <button type="button" class="btn btn-default btn-sm">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                        <div class="col-sm-3">
                                            <p>4,000원</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3>총 상품 가격</h3>
                            </div>
                            <div class="col-sm-3">
                                <h3><small>12,000원</small></h3>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container">
                        <a href="#" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span> 결제하기 
                        </a>
                        <a href="#" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> 삭제하기 
                        </a>
                    </div>
                </div>
            </div>
        </div>
            
        </body>
        </html>