<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
  </head>
  <body>
    <h1>장바구니</h1>
    <ul>
      <li>김치찌개 1개 5000원</li>
      <li>된장찌개 1개 4000원</li>
      <li>김치라면 1개 3000원</li>
    </ul>
    <hr />
    <button onclick="">결제하기</button>
  </body>
</html>
